{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>PET CARE</title>
</head>
<body>
    <main class="grid">
        <header class="flex">
            <div>HOME</div>
            <div>SERVIÇOS</div>
            <div>SOBRE</div>
            <div></div>
            <div>LOGIN</div>
        </header>
        <nav>MENU</nav>
        <article>CONTEUDO</article>
        <footer>© 2023 - Todos os direitos reservados</footer>
    </main>
</body>
</html>