*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    margin: 10px;
}

header, nav, article, footer{
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 500px 50px;
}

header{
    
    grid-column: 1 / -1;
}

nav{
    
    grid-column: 1 / 4;
}

article{
    
    grid-column: 4 / -1;
}

footer{
    
    grid-column: 1 / -1;
}


/* flexbox */

h1{
    margin-top: 20px;
}

.flex{
    display: flex;
    background-color: #949ce0;
    padding: 10px;
    align-items: center;
    color: #fff7d8;
    font-size: 2rem;
}

.flex > div{
    padding: 10px;
}

.flex > div:last-child{
    margin-left: auto;
}

.grid > header,
.grid > nav,
.grid > article,
.grid > footer{
    color: #fff7d8;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid > header{
    background-color: #949ce0;
    grid-column: 1 / -1;
}

.grid > nav{
    background-color: #a7a7a7;
    
}

.grid > article{
    background-color: #e7e7e7;
    color: #949ce0;
    grid-column: 4 / -1;
}

.grid > footer{
    background-color: #373a58;
    grid-column: 1 / -1;
}